.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 12px 24px;
  box-sizing: border-box;
  max-width: 1600px;

  @media (min-width: 1600px) {
    margin: 0 auto;
  }

  .col {
    width: 25%;
    @media (max-width: 960px) {
      width: 50%;
    }
    @media (max-width: 540px) {
      width: 100%
    }

    .item {
      padding: 6px;
      box-sizing: border-box;

      img {
        width: 100%;
        cursor: pointer;
      }
    }
  }
}